body{
margin:0;
font-family:Arial;
background:#f5f5f5;
color:#222;
}

header{
background:#111;
color:white;
text-align:center;
padding:30px;
}

header a{
background:#ffc400;
padding:12px;
color:black;
text-decoration:none;
border-radius:8px;
}

nav{
background:#222;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}


.hero{
background:#ffc400;
padding:50px 20px;
text-align:center;
}


button{
padding:12px 25px;
background:black;
color:white;
border:0;
border-radius:8px;
}


section{
padding:30px;
text-align:center;
}


.box{
background:white;
margin:15px;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}


footer{
background:#111;
color:white;
text-align:center;
padding:15px;
}
